# Flutter / Dart
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android build files
android/.gradle/
android/app/build/

# iOS build files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/